<h2>---</h2>
<p>---</p>

<body>
  <div class="wrapper">
    <div class="chat-side">
      <div class="mizu" id="waterman" style="background: url('/images/one.png');">
        <span class="rate ml-3" id="waterpercent">0%</span>
        <span class="parcent" id="waterpercent"><%= @drink %>ml</span>
        <%= form_with url: record_index_path, local: true do |form| %>
          <%= form.text_field :amount, class: "side-box", placeholder:" 単位:ml      (例)550" %>
          <%= form.submit "チャージ", class: "side-btn ml-1", id: "charge-btn" %>
          <input  class="side-btn mt-3" type="submit" value="リセット">
        <% end %>
      </div>
    </div>
    <div class="chat-main">
      <div class="main-one">
        <%= link_to "食事開始", new_meal_path, data: {"turbolinks" => false}, class: "main-box btn btn-shadow mt-4"%>
        <div class="balloon1-top">
          <p>ユーザー名を押すと記録の詳細が確認できます</p>
        </div>
      </div>
      <div class="main-two">
        <%= link_to "運動開始", new_motion_path, data: {"turbolinks" => false}, class: "main-box btn btn-shadow"%>
      </div>
      <div class="main-three">
        <%= link_to "睡眠開始", new_sleep_path, data: {"turbolinks" => false}, class: "main-box btn btn-shadow mb-4"%>
      </div>
    </div>
  </div>
</body>
  
