<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <div class='fixed-top'>
    <header class="d-flex flex-column flex-md-row align-items-center pt-2 pb-1 px-md-4 mb-3 bg-light border-bottom shadow-sm">
      <nav class='mr-md-auto'>
      <h4><%= link_to 'Life Record', root_path, class: "my-0 mr-md-auto font-weight-normal btn btn-white " %></h4>
      </nav>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="https://www.google.com/">Google</a>
        <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pricing</a>
      </nav>
      <% if user_signed_in? %>
        <%= link_to current_user.nickname, "#", class: "user-nickname mr-3 " %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
      <% else %>
        <a><%= link_to 'Sing up', new_user_registration_path, class: "btn btn-outline-primary btn-top" %></a>
      <% end %>
    </header>
  </div>
    <%# <p class="notice"><%= notice %>
    <%= yield %>
  </body>
</html>